.popular-resturants-div{
  padding: 10px 25px;
  max-width: 900px;
  margin: 0 auto; 
}
.all-resturants-div {
    display: flex;
}
@media screen and (min-width: 900px) {
  .all-resturants-div{
    justify-content: end;
  }
  .title-div {
    display: flex;
    justify-content: center;
  }
}