.shopping-bag-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    display: flex;
    width: 100%;
    height: 218px;
    gap: 83px;
    flex-shrink: 0;
    position: absolute;
    z-index: 2;
    .bag-container{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
        .bag-image{
            width: 57px;
            height: 57px;
        }
    }
    
}