@import "../SearchBar/SearchBar.scss";
@import "../../assets/styles/mixin.scss";
.image-div {
  width: 100vw;
  height: 273px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  .home-image {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }
  .search-div {
    
   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.88);
    z-index: 1;
    position: absolute;
    flex-shrink: 0;
    .inner-search-div {
      max-width: 500px;
      .search-bar {
        width: 100%;
        margin-top: 18px;

        height: 30px;
      }
    }
  }
  @include mobile-only {
    .search-div {
      max-width: 80%;
      padding: 16px 10px;
    }
  }

  @include desktop-only {
    .search-div {
      padding: 37px 135px;
      max-width: 900px;
    }
  }
}
