@import "../../assets/styles/mixin.scss";
.all-chef-of-week-resturants-div {
  display: flex;
}

@include mobile-only {
  .chef-week-resturants-div {
    max-width: 900px;
  }
  
}

@include desktop-only {
  .chef-week-resturants-div {
    max-width: 500px;
    justify-content: flex-start;
  }
  .chef-of-week-all-resturants-div {
    display: flex;
    justify-content: flex-start;
  }
  .all-chef-of-week-resturants-div{
    display: none;
  }
}
