@import "../../assets/styles/mixin.scss";

.all-signature-dishes-div {
  display: flex;
}

@include desktop-only {
  .all-signature-dishes-div {
    justify-content: end;
  }
  .signature-dish-title-div {
    display: flex;
    justify-content: center;
  }
}
