@import '../../assets/styles/mixin.scss';
.chef-card-div {
  display: flex;
  .chef-img {
    width: 100%;
  }
}
@include mobile-only{
  .chef-card-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@include desktop-only{
  .chef-card-div {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap:40px;
  }
}
