.chef-card-div {
  display: flex;
 
  // width: 360px;

  .chef-img {
    width: 400px;
    // flex-shrink: 0;
  }
}

@media screen and (min-width: 900px) {
  .chef-card-div {
    flex-direction: row;//should be row 
    justify-content: center;
    align-items: center;
    gap:20px;
  }
}

@media screen and (max-width: 900px) {
  .chef-card-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
