@import "../../assets/styles/mixin.scss";

.about-us-inner-div {
  display: flex;
  .epicure-icon-div {
    display: flex;
  }
  display: flex;
  .store-description-div {
    display: flex;
    .stores-div {
      display: flex;
      gap: 16px;
      .google-play-button {
        padding: 0;
      }
      .apple-store-button {
        padding: 0;
      }
    }
    .about-us-descreption-div {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: baseline;
    }
  }
}

@include mobile-only {
  .stores-div {
    flex-direction: column;
    align-items: flex-start;
  }
  .about-us-inner-div {
    flex-direction: column;
    gap: 20px;
    .store-description-div {
      flex-direction: column;
    }
  }
}

@include desktop-only {
  .stores-div {
    flex-direction: row-reverse;
  }
  .about-us-inner-div {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .store-description-div {
    flex-direction: column-reverse;
    align-items: flex-start;
    flex: 1;
  }
  .epicure-icon-div {
    justify-content: end;
    flex: 1;
  }
}
