@import "../../assets/styles/mixin.scss";
.signature-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  .signature-symboles {
    display: flex;
  }
}

@include desktop-only {
  .signature-main-div {
    height: 265px;
  }
  .signature-headline {
    text-align: center;
    font-size: 30px;
    letter-spacing: 1.5px;
  }
  .signature-symboles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }
}

@include mobile-only {
  .signature-main-div {
    height: 584px;
  }
  .signature-headline {
    font-size: 18px;
    letter-spacing: 1.25px;
  }
  .signature-symboles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
