%shared-div {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
.search-bar {
    @extend %shared-div;
    width: 75%;
    height: 30px;
    padding: 6px 12px;
    gap: 8px;
    border-radius: 4px;
    border: 0.5px solid #000;

    .search-img {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      padding-left: 3%;
      box-sizing: unset;
    }
    .search-input {
      flex: 1;
      color: #000;
      font-family: Helvetica Neue;
      font-size: 14px;
      font-style: normal;
      font-weight: 200;
      line-height: normal;
      letter-spacing: 1.29px;
      border-color: transparent;
      background-color: transparent;
      flex-shrink: 1;
    }
  }