%shared-button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
%shared-sizes {
  width: 20px;
  height: 20px;
}
.main-navigation {
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  padding: 0 20px;
  background-color: white;
  width: 100vw;
  button {
    @extend %shared-button;
  }
  .order-bag-div {
    display: flex;
    justify-content: end;
    flex: 1;
    img{
        width: 20px;
        height: 20px;
    }
  }
  .about-logo-div{
    display: flex;
    align-items: center;
   
    .about-logo {
      
      width: 32px;
      height: 32px;
    }
  }
  .hambur-logo-div {
    flex: 1;
    justify-content: space-between;
    .hamburg-button {
      .hamburg-img {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
      }
      
    }
  }
}
@media screen and (max-width: 700px) {
  .restaurants-nav-bar{
    display: none;
  }
  .chefs-nav-bar{
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .restaurants-nav-bar{
    display:flex;
  }
  .chefs-nav-bar{
    display: flex;
  }
  .about-logo-div{
    flex-grow: 1;
    justify-content: start;
  }
  .hambur-logo-div {
    display: none;
  .hamburg-img {
    display: none;

  }
  }
}