@import "../SearchBar/SearchBar.scss";
%shared-div {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.search-page {
  background-color: white;
  position: absolute;
  z-index: 2;
  width: 100vw;
  // height: 400px;
  box-shadow: 2px 4px 10px 0px rgba(175, 175, 175, 0.25);

  .exit-button {
    padding: 15px 0px 0px 20px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
  }
  .search-div {
    @extend %shared-div;
    width: 100%;
    // height: 100%;
    padding: 40px 12px 24px 12px;
    flex-direction: column;
    gap: 24px;
    
  }
}
