@import '../../assets/styles/mixin.scss';
.chef-of-the-week-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@include desktop-only{
  .chef-of-the-week-title-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
