.transparant-background-button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
}

.symbole-icon {
    width: 77.419px;
    height: 60px;
  }

  .hamburg-img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }